*{
    text-decoration: none;
}

body{
    font-family: Helvetica, sans-serif;
    background-color: black;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px, rgb(6, 3, 32) 50%, black 95%);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.info {
    position: fixed;
    top: 0;
    color: white;
    padding: 30px;
}

.country {
    transition: fill .5s;
}